/* .bee-background {
  background-image: url('../images/bee-background.jpeg');
  background-size: cover;
  width: 100vw;
  height: 99vh;
} */

/* footer {
    position: absolute;
      left: 1px;
      bottom: 0;
      height: 100px;
      width: 100%;
      overflow: hidden;
  } */