#fly-out-menu {
    width: 72vw;
    height: 100vh;
    background-color: gold;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 1s cubic-bezier(0, .52, 0,1);
    overflow: scroll;
    z-index: 1000;
}

#fly-out-menu.hide {
    transform: translate3d(-100vw, 0, 0);
}

#fly-out-menu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

#fly-out-menu a:hover {
    text-decoration: underline;
} 
#mdiv {
  width: 35px;
  height: 25px;
}

.mdiv {
  height: 35px;
  width: 5px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  Z-index: 1;
}


.md {
  height: 35px;
  width: 5px;
  background-color: black;
  transform: rotate(90deg);
  Z-index: 2;
}